@media (min-width:350px) and (max-width:500px){
    .head{
        height: 46px;
    }
    .head h5{
        font-size:25px;
    }
    #add{
        top:6.5vh;
        font-size: 16px;
        width: 52px;
    }
    .style{
        height: 43px;
        width: 90vw;
        margin-left: 3px;
        margin-top: 4vh;
    }
    .style2{
        height: 53px;
        width: 64vw;
    }
    dialog{
        height: 15vh;
        width: 77vw;
        margin-top: 28vh;
        
    }
    dialog .poptext input{
        height: 3vh;
        width: 88%;
        /* padding-top: 47px; */
        font-size: 30px;
    }
     dialog .poptext input::placeholder{
        color: var(--second-background-color);
        opacity: 0;
     }

    dialog #cancel{
        margin-left: 75px;
        height: 32px;
        width: 75px;
        font-size: 18px;
    }
    dialog #save{
       height: 32px;
        width: 75px;
        font-size: 18px;
    }
    .delete{
        
    }
    
}
